/* coures-details => (Head Course) */
.coures-details .header {
    background-color: #000;
    color: #fff;
}

.coures-details .header .container .content {
    gap: 40px;
    width: 100%;
}

.coures-details .content-details .content,
.coures-details .header .container .content .info {
    width: 60%;
    padding: 50px 0;
}

.coures-details .header .container .content .info .type {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #555555;
    color: #fff;
}

.coures-details .header .container .content .info .by span {
    color: var(--dark-gray-color);
    font-size: 1.1rem;
}

.coures-details .header .container .content .info .by a {
    color: #fff;
    transition: var(--trans-3);
}

.coures-details .header .container .content .info .by a:hover {
    color: var(--primary-color);
}

.coures-details .header .container .content .info .details {
    gap: 20px;
    flex-wrap: wrap;
}

.coures-details .header .container .content .info .details div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.coures-details .content-details .cart-side,
.coures-details .header .container .content .cart-side {
    position: relative;
    width: 40%;
}

.coures-details .header .container .content .cart-side .box {
    position: absolute;
    top: 20%;
    right: 0;
    border: solid 1px #eaeaea;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    color: #000;
}

.coures-details .header .container .content .cart-side .box img {
    max-width: 100%;
}

.coures-details .header .container .content .cart-side .box .buy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.coures-details .header .container .content .cart-side .box .buy .price {
    color: red;
    font-weight: bold;
    font-size: 1.1rem;
}

.coures-details .header .container .content .cart-side .box .buy .button-buy {
    padding: 10px 20px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 20px;
    font-size: 1.2rem;
}

@media (max-width: 991px) {
    .coures-details .header .container .content {
        flex-direction: column;
        gap: 10px;
    }


    .coures-details .header .container .content .info,
    .coures-details .header .container .content .cart-side,
    .coures-details .content-details .cart-side,
    .coures-details .content-details .content {
        width: 100%;
    }

    .coures-details .header .container .content .cart-side .box {
        position: relative;
    }

    .coures-details .header .container .content .cart-side .box img {
        width: 100%;
    }
}

/* coures-details => (content-details) */
.coures-details .content-details .content .details {
    border: solid 1px #eaeaea;
    border-radius: 5px;
}

.coures-details .content-details .content .details .labs {
    overflow-y: auto;
}

.coures-details .content-details .content .details .labs::-webkit-scrollbar {
    height: 5px;
}

.coures-details .content-details .content .details .labs .lab {
    padding: 15px 30px;
    transition: var(--trans-3);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
}

.coures-details .content-details .content .details .labs .lab.active,
.coures-details .content-details .content .details .labs .lab:hover {
    background-color: #f5f5f5;
    color: var(--primary-color);
}

.coures-details .content-details .content .details .parent {
    background-color: #f5f5f5;
    padding: 20px;
}

.coures-details .content-details .content .details .parent .box {
    display: none;
    color: var(--dark-gray-color);
    line-height: 1.5rem;
}

.coures-details .content-details .content .details .parent .box.active {
    display: block;
}

.coures-details .content-details .content .details .parent .box details {
    padding: 10px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    transition: var(--trans-3);
}

.coures-details .content-details .content .details .parent .box .color-gray {
    color: var(--dark-gray-color);
    font-weight: lighter;
}

.coures-details .content-details .content .details .parent .box details summary {
    transition: var(--trans-3);
}

.coures-details .content-details .content .details .parent .box details:hover {
    background-color: #f8f8f8;
}

.coures-details .content-details .content .details .parent .box details[open] summary {
    color: var(--primary-color);
}

.coures-details .content-details .content .details .parent .box details summary>div {
    display: inline-flex;
    width: 95%;
}

.coures-details .content-details .content .details .parent .box details .parent-lessons .lesson {
    padding: 15px 20px;
    width: 100%;
    font-weight: lighter;
    font-size: 1.1rem;
    transition: var(--trans-3);
}

.coures-details .content-details .content .details .parent .box details .parent-lessons .lesson:hover {
    background-color: #f8f8f8;
    color: var(--primary-color);
}

.coures-details .content-details .content .details .parent .box details .parent-lessons .lesson .preview {
    color: #fff;
    padding: 5px 10px;
    background-color: #2580D5;
    border-radius: 5px;
    transition: var(--trans-3);
}

.coures-details .content-details .content .details .parent .box details .parent-lessons .lesson .preview:hover {
    background-color: #1a5f9d;
}

@media (max-width: 991px) {

    .coures-details .content-details .content .details .parent .box details summary,
    .coures-details .content-details .content .details .parent .box details .parent-lessons .lesson {
        flex-direction: column;
        gap: 5px;
    }
}

/* coures-details => (content-instructor) */
.coures-details .content-details .content .details .parent .content-instructor .links .icon {
    color: var(--dark-gray-color);
    transition: var(--trans-3);
}

.coures-details .content-details .content .details .parent .content-instructor .links .icon:hover {
    color: var(--primary-color);
}

.coures-details .content-details .content .details .parent .content-faqs details {
    color: var(--dark-gray-color);
}

.coures-details .content-details .content .details .parent .content-faqs details div {
    font-weight: lighter;
}

@media (max-width: 767px) {
    .coures-details .content-details .content .details .parent .content-instructor .info {
        flex-direction: column;
    }
}

/* coures-details => (content-reviews) */
.coures-details .content-details .content .details .parent .content-reviews .title-head {
    font-size: 1.5rem;
}

.coures-details .content-details .content .details .parent .content-reviews .title {
    color: #000;
}

.coures-details .content-details .content .details .parent .content-reviews .rates .total-rate .title {
    font-size: 3rem;
    font-weight: bold;
}

.coures-details .content-details .content .details .parent .content-reviews .rates .star {
    color: var(--primary-color);
}

.coures-details .content-details .content .details .parent .content-reviews .rates .rate .progress {
    position: relative;
    min-width: 50%;
    width: 70%;
    height: 10px;
    background-color: #eaeaea;
}

.coures-details .content-details .content .details .parent .content-reviews .rates .rate .text {
    font-size: 1.1rem;
}

.coures-details .content-details .content .details .parent .content-reviews .rates .rate .progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: var(--primary-color);

}

@media (max-width:600px) {
    .coures-details .content-details .content .details .parent .content-reviews .rates .rate {
        justify-content: center;
    }

    .coures-details .content-details .content .details .parent .content-reviews .rates .rate .progress {
        display: none;
    }
}

/* coures-details => (content-reviews) => Comments */
.coures-details .content-details .content .details .parent .content-reviews .comments .comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.coures-details .content-details .content .details .parent .content-reviews .comments .comment:not(:last-child) {
    border-bottom: solid 1px #eaeaea;
}

.coures-details .content-details .content .details .parent .content-reviews .comments .comment .image img {
    border-radius: 100px;
    overflow: hidden;
    width: 250px;
}

.coures-details .content-details .content .details .parent .content-reviews .comments .comment .image img {
    max-width: 100%;
}

.coures-details .content-details .content .details .parent .content-reviews .comments .comment .title {
    color: #000;
    font-size: 1.1rem;
    margin: 0;
}

.coures-details .content-details .content .details .parent .content-reviews .comments .comment .reply {
    color: #000;
    cursor: pointer;
}

.coures-details .content-details .content .details .parent .content-reviews .comments .comment .reply .icon {
    color: #F51A1A;
}

@media (max-width: 767px) {
    .coures-details .content-details .content .details .parent .content-reviews .comments .comment {
        flex-direction: column;
    }

    .coures-details .content-details .content .details .parent .content-reviews .comments .comment .image img {
        width: 100px;
    }
}