section:not(:first-of-type) {
    margin-top: 40px;
}

/* Landing */
.landing {
    width: 100%;
    background-image: url('../images/landing.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: fixed;
}

.landing .container .content {
    width: 40%;
}

.landing .container .content .title {
    font-size: 3rem;
    font-weight: 700;
}

.landing .container .content p {
    color: var(--dark-gray-color);
    font-size: 0.9rem;
}

@media (max-width: 767px) {
    .landing .container .content {
        width: 100%;
        background: #ffffffc9;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    }
}

/* Catgories */
.head_section {
    margin: 30px 0;
}

.head_section .content .title {
    font-size: 2rem;
    margin: 10px 0;
}

.head_section .content .info {
    color: var(--dark-gray-color);
}

.head_section .more {
    font-weight: bold;
    padding: 12px 25px;
    display: inline-block;
    color: #000;
    border: solid 2px var(--dark-gray-color);
    transition: var(--trans-3);
    border-radius: 20px;
}

.head_section .more:hover {
    border-color: #000;
}

@media (max-width: 767px) {
    .head_section {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.categories .container .types_category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.categories .container .types_category .box {
    border: solid 1px #eaeaea;
    border-radius: 20px;
    padding: 20px 10px;
    transition: var(--trans-3);
    color: inherit;
    text-decoration: none;
}

.categories .container .types_category .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
}

.categories .container .types_category .box .count {
    color: var(--dark-gray-color);
    font-size: 0.9rem;
}

/* top courses */
.top-courses .container .courses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.top-courses .container .courses .box {
    border: solid 1px #eaeaea;
    border-radius: 20px;
    transition: var(--trans-3);
    color: var(--dark-gray-color);
    overflow: hidden;
}

.top-courses .container .courses .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}


.top-courses .container .courses .box .image img {
    max-width: 100%;
}

.top-courses .container .courses .box .image .tab {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
}

.top-courses .container .courses .box .content .info {
    gap: 10px;
}

.top-courses .container .courses .box .content .info .by {
    font-size: 0.8rem;
    color: inherit;
}

.top-courses .container .courses .box .content .info .by a {
    color: #000;
    font-weight: bold;
}

.top-courses .container .courses .box .content .info .title {
    font-size: 1.1rem;
    color: #000;
    font-weight: bold;
    margin: 5px 0;
}

.top-courses .container .courses .box .content .price {
    border-top: solid 1px #eaeaea;
    font-size: 0.9rem;
}

.top-courses .container .courses .box .content .price .more {
    color: #000;
    font-weight: bold;
}

/* adds-learn-press, Education */
.adds-learn-press .container {
    background-image: url("../images/learn-press.png");
}

.adds-learn-press .container,
.education .container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    border-radius: 20px;
}

.adds-learn-press .container .content,
.education .container .content {
    height: 100%;
    padding: 20px;
}

.adds-learn-press .container .content .title,
.education .container .content .title {
    font-size: 2rem;
    margin: 10px 0;
}

.adds-learn-press .container .content .info,
.education .container .content .info {
    color: var(--dark-gray-color);
    width: 40%;
    margin: 20px 0;
}

@media (max-width: 767px) {

    .adds-learn-press .container .content,
    .education .container .content {
        text-align: center;
        width: 100%;
        background: #ffffffc9;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgb(255 255 255 / 0.5);
    }

    .adds-learn-press .container .content .info,
    .education .container .content .info {
        width: 100%;
    }
}

/* Counter */
.counter .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.counter .container .box {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.counter .container .box .count {
    color: var(--primary-color);
    font-size: 2rem;
    margin: 10px 0;
}

/* Grow Up */
.grow-up .container {

    gap: 20px;
    color: var(--dark-gray-color);
}

.grow-up .container .image {
    width: 100%;
}

.grow-up .container .image img {
    max-width: 100%;
}

.grow-up .container .content .title {
    font-size: 2rem;
    color: #000;
}

.grow-up .container .content .brofits {
    margin: 20px 0;
}

@media (max-width: 767px) {
    .grow-up .container {
        flex-direction: column;
    }
}

/* Education */
.education .container {
    background-image: url("../images/education.png");
}

.education .container .content .info {
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* FeedBacks */
.feedback .container .parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.feedback .container .parent .box {
    padding: 20px;
    border: solid 1px #eaeaea;
    border-radius: 20px;
}

.feedback .container .parent .box .text {
    line-height: 1.8;
}

/* Let Start */
.let-start .container {
    background-image: url("../images/let-start.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    border-radius: 20px;
    padding: 20px;
}

@media (max-width: 767px) {
    .let-start .container {
        flex-direction: column;
        gap: 20px;
    }

    .let-start .container div:nth-child(2) a {
        width: 100%;
        margin: 10px 0;
    }
}

/* Articles */
.articles .container .parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.articles .container .parent .box {
    border-radius: 20px;
    border: solid 1px #eaeaea;
    transition: var(--trans-3);
}

.articles .container .parent .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.articles .container .parent .box .image {
    overflow: hidden;
}

.articles .container .parent .box .image img {
    max-width: 100%;
}

.articles .container .parent .box .content .title a {
    color: #000;
    transition: var(--trans-3);
}

.articles .container .parent .box .content .title a:hover {
    color: var(--primary-color);
}

.articles .container .parent .box .content .date,
.articles .container .parent .box .content p {
    color: var(--dark-gray-color)
}

.articles .container .parent .box .content .date {
    display: flex;
    gap: 5px;
    align-items: center;
}